@import "../../../styles";

.tools-lang-filter-container {
  position: absolute;
  top: 6%;
  left: 10%;
  width: 77vw;
  border-radius: 5px;
  padding: 20px;
  background-color: white;
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 5px 8px 20px 2px $desaturated-dark-cyan-o;

  .filter-items-container {
    display: flex;
    gap: 10px;
  }

  .tools-lang-filter-input {
    cursor: text;
    font-size: 15px;
    width: 50vw;
    padding: 5px;
    border: none;
  }

  .clear-button {
    border: none;
    background-color: white;
    color: $desaturated-dark-cyan;
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .tools-lang-filter-container {
    position: absolute;
    top: 60px;
    left: 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
  }

  .filter-items-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .tools-lang-filter-input {
    min-width: 100%;
  }
}
