@import "../../../styles";

.card-container {
  background-color: white;
  width: 70vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 5px 8px 20px 2px $desaturated-dark-cyan-o;
}

.card-container-part-1 {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.img-company-card {
  width: 100px;
  height: 100px;
}
.container-company-description {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.company-name {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  flex-wrap: nowrap;
}
.company-name-title {
  color: $desaturated-dark-cyan;
}

.company-name-new {
  background-color: $desaturated-dark-cyan;
  padding: 5px 10px;
  color: white;
  border-radius: 15px;
}
.company-name-featured {
  background-color: #141818;
  padding: 5px 10px;
  color: white;
  border-radius: 15px;
}
.featured {
  border-left: 5px solid $desaturated-dark-cyan;
}
.company-job-title {
  cursor: pointer;
  &:hover {
    color: $desaturated-dark-cyan;
  }
}
.company-job-description {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.company-job-description-span {
  color: #b6bcbb;
}
.card-container-part-2 {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.container-tools-languages {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.tools-languages {
  background-color:$desaturated-dark-cyan-o;
  padding: 7px;
  color: $desaturated-dark-cyan;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: $desaturated-dark-cyan;
    padding: 7px;
    color: white;
    border-radius: 5px;
  }
}

@media (max-width: 800px) {
  .card-container {
    font-size: 15px;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
  }

  .card-container-part-1,
  .card-container-part-2 {
    flex-direction: column;
    gap: 10px;
  }

  .img-company-card {
    margin-top: -40px;
    width: 50px;
    height: 50px;
  }

  .divider-tools-languages {
    width: 100%;
    border-top: 1px solid $dark-grayish-cyan;
  }

  .company-name {
    gap: 10px;
  }
  .company-job-description {
    gap: 10px;
  }
  .container-tools-languages{
    gap: 10px;
  }
}
